.feedback__wrapper {
    margin: auto;
    padding: 30px;

    width: 500px;
    height: auto;

    background-color: rgb(146, 146, 146);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 15px;

    color: rgb(7, 22, 72);


}